﻿@*
    This is a partial view for List template
*@



<br /><br />
<div id="navlinks">
    @if (ViewBag.PreviousAction != null)
    {@*this <span> block is generated conditionally*@
    <span>
        @Html.ActionLink(
                " Previous page"
                , (string)ViewBag.PreviousAction
                , (string)ViewBag.PreviousController
                , (object)ViewBag.PreviousActionParameters
                , new
                    {
                        Class = "btn btn-link glyphicon glyphicon-list-alt"
                            ,
                        title = "Return to previous page"
                    }
                )
    </span>
}


    @if (ViewBag.CrudAction != null)
    {@*this <span> block is generated conditionally*@
    <span style="float:right">
        @Html.ActionLink(
                " Add new..."
                , (string)ViewBag.CrudAction
                , (string)(ViewBag.AddController == null ? ViewContext.RouteData.Values["controller"] : ViewBag.AddController)
                , (object)ViewBag.CrudActionParameters
                , new
                {
                    Class = "btn btn-link glyphicon glyphicon-plus-sign"
                            ,
                    title = "Add a new record"
                }
                )
    </span>
}
</div>

